RewriteEngine On
  

## 404##
RewriteRule ^404/$      index.php?page=404&%{QUERY_STRING} [L]

## Le site ##
RewriteRule ^index/$      index.php?page=Accueil&%{QUERY_STRING} [L]

## Contact ##
RewriteRule ^contact/$      index.php?page=Contact&%{QUERY_STRING} [L]

## Inscription ##
RewriteRule ^inscription/$      index.php?page=Inscription&%{QUERY_STRING} [L]

## Connexion ##
RewriteRule ^connexion/$        index.php?page=Connexion&%{QUERY_STRING} [L]

## Deconnexion ##
RewriteRule ^deconnexion/$      index.php?page=Deconnexion&%{QUERY_STRING} [L]

## Description Livre##
RewriteRule ^descriptionlivre/$         index.php?page=DescriptionLivre&%{QUERY_STRING} [L]

## Espace Perso ##
RewriteRule ^espaceperso/$      index.php?page=EspacePerso&%{QUERY_STRING} [L]

## Gestion Autorités ##
RewriteRule ^autorites/$        index.php?page=GestionAutorites&%{QUERY_STRING} [L]

## Gestion Documents ##
RewriteRule ^documents/$        index.php?page=GestionDocuments&%{QUERY_STRING} [L]

## Gestion Emprunteurs ##
RewriteRule ^emprunteurs/$        index.php?page=GestionEmprunteurs&%{QUERY_STRING} [L]

## Gestion Notices ##
RewriteRule ^notices/$        index.php?page=GestionNotices&%{QUERY_STRING} [L]

## Gestion Exemplaires ##
RewriteRule ^exemplaires/$        index.php?page=GestionExemplaires&%{QUERY_STRING} [L]

## Gestion Utilisateurs ##
RewriteRule ^utilisateurs/$        index.php?page=GestionUtilisateurs&%{QUERY_STRING} [L]

## Menu Gestion ##
RewriteRule ^menugestion/$        index.php?page=MenuGestion&%{QUERY_STRING} [L]

## Mentions Légales ##
RewriteRule ^mentionslegales/$        index.php?page=MentionsLegales&%{QUERY_STRING} [L]

## PageResultats ##
RewriteRule ^pageresultats/$        index.php?page=PageResultats&%{QUERY_STRING} [L]


## SupprUser Controller ##
RewriteRule ^supprUser/$        index.php?page=supprUser&%{QUERY_STRING} [L]

## Suppression Auteur ##
RewriteRule ^SupprimerAuteur/$        index.php?page=SupprimerAuteur&%{QUERY_STRING} [L]

## Suppression Editeur  ##
RewriteRule ^SupprimerEditeur/$        index.php?page=SupprimerEditeur&%{QUERY_STRING} [L]

## Suppression Fournisseur  ##
RewriteRule ^SupprimerFournisseur/$        index.php?page=SupprimerFournisseur&%{QUERY_STRING} [L]

## Suppression Collection  ##
RewriteRule ^SupprimerCollection/$        index.php?page=SupprimerCollection&%{QUERY_STRING} [L]

## PageResultats ##
RewriteRule ^supprExemplaire/$        index.php?page=supprExemplaire&%{QUERY_STRING} [L]

## PageResultats ##
RewriteRule ^supprNotice/$        index.php?page=supprNotice&%{QUERY_STRING} [L]


